  <legend>Add Meetup</legend>
      </br></br>
  <form method="post" action="/meetups/new">

    <label for="what">What is this Meetup?</label>
    <input type="text" name="what" id="what" />
      </br></br>
    <label for="why">Why are you creating this meetup?</label>
    <input type="text" name="why" id="why" />
      </br></br>
    <label for="where">Where is this meetup?</label>
    <input type="text" name="where" id="where" />
      </br></br>
    <label for="when">When is this meetup?</label>
    <input type="text" name="when" id="when" />
      </br></br>
    <input type="submit" value="Submit" />
  </form>

  </br></br>

<a href="/meetups">Back to Meetups List?</a>
